@import 'bootstrap_variables.scss';
@import 'mixins.scss';
@import '~bootstrap/scss/bootstrap.scss';

html {
  // Resets
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}


body {
  // @include  linear-gradient(120deg, #f9f4f4 0%, #ebedee 100%);
    background-image: url('/fishnets-and-hearts.png');

}

a {
    font-weight: 700;
}

a:hover {
  // text-decoration: underline !important;
  // text-decoration-color: rgb(22, 185, 145) !important;
}

*:focus{
    outline: none !important;
    box-shadow: none !important;
}

.card {
    width: 16rem;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
}

.card:hover, .card-selected {
  border-color: $primary;
}
.card-selected {
  box-shadow: 1px 5px 7px 0 rgba(0, 0, 0, 0.2),
              1px 9px 12px 0 rgba(20,175,131, 0.4)
}

.card-img-top {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 8rem;

    &.no-logo {
      background: linear-gradient(15deg, #14af83, #15b89a);
    }
  }

  .card-text,
  .card-body a,
  .card .list-group li
  {
    font-size: 0.8rem;
    .label {
      display: block;
      font-weight: 700;
    }
  }
